-e .
fastkde==2.0.1
ipywidgets==8.1.2
matplotlib==3.7.5
notebook==7.1.2
numba==0.58.1
numpy==1.24.4
pre-commit==3.5.0
ruff==0.3.4
scikit-learn==1.3.2
Sphinx==7.1.2
sphinx-rtd-theme==2.0.0
umap-learn==0.5.5
